/* App.css */

body {
  margin: 0;
  font-family: "Playwrite AU QLD";
}

.app-container {
  display: flex;
  min-height: 100vh;
}

/* header{
  height: 100px;
  column-span: all;
  border: 1px solid red;
  position: relative;
} */

/* Left column: Form */
.thought-form {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: sticky;
  top: 0;
  align-self: flex-start;
  
  border-right: 1px solid #ccc;
}

/* Right column: Thoughts */
.thoughts-column {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-weight: bold;
  text-align: center;
}

h3{
  margin: 50px;
  /* border: 2px solid black; */
  font-family: "Playwrite AU QLD";
  text-decoration: underline;
}

p{
  font-family: 'Courier New', Courier, monospace;
}

.card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  max-width: 100%;
  min-width: 150px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

.card h3 {
  margin: 0 0 10px;
}

.card p {
  margin: 0;
  max-width: 600px;
}
.close-button {
  position: absolute;
  border-radius: 12px;
  top: 10px;
  right: 12px;
  background: lightgray;
  border: none;
  font-size: 12px;
  cursor: pointer;
  color: #888;
  transition: color 0.2s ease;

}
.edit-button {
  position: absolute;
  border-radius: 12px;
  top: 30px;
  right: 12px;
  background: lightgray;
  border: none;
  font-size: 12px;
  cursor: pointer;
  color: #888;
  transition: color 0.2s ease;
}

.close-button:hover {
  background-color: #ff5c5c;
}
.edit-button:hover{
  background-color: lightgreen;
}

.button-main{
  background-color: #4f46e5; /* Indigo */
  max-width: 100px;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

textarea{
  min-height: 200px;
}

textarea::placeholder{
  font-family: "Playwrite AU QLD";
}


